.container-bg {
  background-image: url(../imagenes/tincho.jpg);
}
.bg-transparente {
  background-color: rgba(255, 255, 255, 0.445);
}
.relleno {
  padding-bottom: 20%;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/vintage-wallpaper.png);
}
