@import "vars";
.icono {
  transition: transform 300ms ease-out;
  &:hover {
    transform: translate(0px, 0px) scale(1.2, 1.2);
  }
}

.icono-con {
  size: 20%;
  width: 20%;
  height: auto;
}
.logochamaco {
  width: 10rem;
  height: 10rem;
}
#wp:hover {
  color: $-green;
}
#mail:hover {
  color: $-red;
}
#ig:hover {
  color: $-blue;
}
#fb:hover {
  color: $-blue;
}
