@media only screen and (min-width: 480px) {
  .card-b {
    width: 95%;
    margin: 1%;
  }
  .container-b {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .burger__nombre {
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 1024px) {
  .container-b {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .burger__nombre {
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .t360 {
    transition: transform 1378ms ease-out;
    &:hover {
      transform: rotate(360deg) translate(0px, 0px) scale(1.1, 1);
    }
  }

  .relleno {
    display: none;
  }
  .burger__img {
    object-view-box: inset(0%);
    transition: all 0.75s;

    filter: grayscale(80%);
    &:hover {
      object-view-box: inset(17%);
      object-position: 0px -30px;

      filter: grayscale(0%);
    }
  }
}
