.logochamaco {
  width: 10rem;
  height: 10rem;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/vintage-wallpaper.png);
}
