.logochamaco {
  width: 10rem;
  height: 10rem;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/vintage-wallpaper.png);
}
.icono {
  transition: transform 300ms ease-out;
}
.icono:hover {
  transform: translate(0px, 0px) scale(1.2, 1.2);
}
.icono-con {
  size: 20%;
  width: 20%;
  height: auto;
}
.relleno {
  padding-bottom: 20%;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
